/* Reset e importação das classes de css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ocultar a rolagem horizontal*/
body {
    @apply bg-[#141414] h-full overflow-x-hidden;
}

#__next {
    @apply h-full;
}

html {
    @apply h-full;
}

@keyframes growMargin {
    0% {
      margin-bottom: 0;
    }
    50% {
      margin-bottom: 10px;
    }
    100% {
      margin-bottom: 10px;
    }
}

@keyframes loading {
    0% {
      width: 0;
    }
    50% {
      width: 50%;
    }
    100% {
      width: 100%;
    }
}
  
.clicked {
    animation: growMargin 0.5s linear forwards;
}

.loading-bar {
    position: relative;
    bottom: 5px;
    left: 0;
    height: 2px;
    background-color: white;
    animation: loading 2s linear;
}